{% extends 'myapp/base.html' %}
{% block menubar%}
<div class="ms-auto d-flex">
  <a class="nav-link fw-bold py-1 px-0" href="{% url 'home' %}">back</a>
  <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'register' %}">register</a>
  <a class="nav-link fw-bold py-1 px-0 " href="{% url 'login' %}">login</a>
</div>

{% endblock menubar%}
{%block title%}Welcome to register page{%endblock title%}
{% block content %}

{% if success %}
<br><br>
<div class="alert alert-primary" role="alert">
  You have successfully registered for membership!
</div>
{% else %}
         
      {% if usertaken %}
      <div class="alert alert-warning" role="alert">
          this email is already registered,please use new email!
         </div>
          
         <center>please login here or forgot password</center>

      
      {% endif %}



<br><br>
<h1>Register member here!</h1>
<div class="container">
    <form method="POST"><!--its used for sending data to backend-->
       {% csrf_token %} <!--its related to securely token(special PW)-->
       <!--its important to prevent hacking ,uesful-->
       <div class="form-group"> <!--form group-->
            <label for="name">Name and Surname</label>
            <input type="text" class="form-control" id="name" name="name"> <!-- inside id=for-->
      </div><br>

      <div class="form-group"> <!--form group-->
         <label for="email">email</label>
         <input type="email" class="form-control" id="email" name="email"> <!-- inside id=for-->
      </div><br>
       <div class="form-group"> <!--form group-->
         <label for="password">password</label>
         <input type="password" class="form-control" id="password" name="password"> <!-- inside id=for-->
       </div><br>

  <button type="submit" class="btn btn-primary"> submit </button>
    </form>
</div>
{% endif %}

{% endblock content %}